.full-page {
  display: grid;
  grid-template-columns: 120px 280px 3fr;
  grid-template-rows: 110px 300px 1fr;
  gap: 30px 20px;
  /* grid-auto-flow: row; */
  grid-template-areas:
    "logo search search"
    "play-list play-list video-player"
    "play-list play-list wikipedia-result";
}

.video-player {
  grid-area: video-player;
}



.wikipedia-result {
  grid-area: wikipedia-result;
}