.main-layout {
  display: grid;
  grid-template-columns: 400px 3fr 120px;
  grid-template-rows: 90px 1fr 1fr;
  gap: 30px 20px;
  /* grid-auto-flow: row; */
  grid-template-areas:
    ". search logo"
    "play-list video-player video-player"
    "play-list wikipedia-result wikipedia-result";
}

.wikipedia-result {
  grid-area: wikipedia-result;
}